#!/usr/bin/env xdg-open

[Desktop Entry]
Name=BlenderSB
GenericName=3D modeler
GenericName[fi]=3D-mallintaja
Comment=3D modeling, animation, rendering and post-production
Comment[fi]=3D-mallinnus, -animaatiot, -renderöinti ja -tuotanto
Keywords=3d;cg;modeling;animation;painting;sculpting;texturing;video editing;video tracking;rendering;render engine;cycles;game engine;python;
Exec=/opt/blenderMod/bashFiles/blenderSB.sh
Icon=/usr/share/icons/hicolor/48x48/apps/blenderSB.png
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;AudioVideo;Video;AudioVideoEditing;
MimeType=application/x-blender;
Name[fi]=BlenderSB.desktop
